# Lingkungan Virtual Python (Virtual Environment)
venv/
env/
.env

# File Cache & Temporary Python
__pycache__/
*.pyc
*.pyo
*.pyd

# File Binary / C++ Engine (Sangat Besar)
*.dll
*.so
*.dylib
*.exe
*.bin

# File Data Game & Dataset AI (Bisa memakan memori bergiga-giga)
*.json
*.pt      # File model pytorch jika nanti ditraining
*.pth
*.ckpt
data/
assets/

# IDE & Sistem Operasi
.vscode/
.idea/
.DS_Store
Thumbs.db
